main {
    display: 'flex';
    width: 100%;
    /* border: 1px solid black; */
}

.title_block {
    display:  flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(red, green, blue, 0.3);
}

h2 {
    
    font-size: 20px;
    color: rgb(92, 47, 255)
}