 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
    display:flex;
    margin:0%;
    padding: 0%;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

input {
    height: 25px;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

button {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    text-transform: capitalize;
}

form {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    background-color: grey;
    flex-direction: column;
    margin: 10px;
    width:  40%
}

form > div {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

form > div > * {
    margin: 2px
}


table {
    border-collapse: collapse;
    table-layout: fixed;
    border: 2px solid black;
    border-radius: 5px;
}

table > thead {
    padding: 2px;
    font-weight: 500;
    border-bottom: 1px solid black;
}

table > tbody {
    font-weight: 400;
}


td {
    padding: 5px;
    text-align: center;
    border-right: 1px solid black;
    
}

.chat_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 70%;
    flex-direction: column;
    border: 1px solid red;
    gap: 10px;
    border-radius: 10px;
}

.chat_container > div {
    width: 100%;
    /* border: 1px solid green */
} 

.chat_container_head {
    margin: 10px;
    text-align: left;
    height: 10%;
    align-items: flex-start;
}
.chat_container_body {
    height: 90%;
    display: flex;
    flex-direction: row;
    gap: 5px
}

.chat_container_body > .chat_user_list {
    width: 35%;
    /* border: 1px solid black; */
    margin: 5px;
    overflow-y: scroll;

}

.chat_container_body > .chatting_section {
    width: 65%;
    /* border: 1px solid black; */
    margin: 5px
}

ul {
    list-style-type: none;
}

.chatting_section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chatting_section__message {
    width: 100%;
    /* height: 100%; */
    padding: 2px;
    display: flex;
    flex-direction: column;

}


.chatting_section__message__input {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 5px;
    /* justify-content: center; */
    
}
.chatting_section__message__history {
    height: 90%;
}

.chatting_section__message__input {
    height: 10%;
}

.chatting_section__message__input > input {
    width: 85%
}

.chatting_section__message__input > button {
    width: 15%
}
.message_history {
    max-height: 110px;
    overflow-y: scroll;
}

.message_history__block {
   
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    width: 100%;
    align-items: start;
}

/* .message_history > div*{
   display: flex;
   flex-direction: row;
} */

.message__slot {
    margin: 5px;
    width: 50%;
    height: 'auto';
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border-radius: 10px;
    border-top: 2px solid rgb(47, 120, 255);
    border-left: 2px solid rgb(47, 120, 255);
    flex-wrap: wrap;
    background: rgb(153, 235, 224);
    /* justify-content: end; */
}